
.game-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.hider{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: transparent;

}
.item-blue{
  background: blue;
}
